.bigOlZIndex{
  z-index: 999;
  /* biggest possible z index */
  z-index: 2147483647;

  position: absolute;
}

.moreImportant {
  border: 1px solid red;
  background-color: white;

  position: absolute;
}